---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import farver from "../assets/images/01-farver.png";
import motiver from "../assets/images/02-motiver.png";
import strl from "../assets/images/03-strl.png";
import layout1 from "../assets/images/04-layout1.png";
import layout2 from "../assets/images/04-layout2.png";
import layout3 from "../assets/images/04-layout3.png";
import layout4 from "../assets/images/04-layout4.png";
---
<MainLayout title="Titel">
	<article class="grid mx-auto container gap-8 pt-8 prose">
        <h1>Polaroid</h1>


        <h2>Fra grundlæggelse til fotografisk revolution</h2>

        <p>Polaroid blev grundlagt i 1937 af Edwin H. Land og revolutionerede fotograferingen med lanceringen af det første instant kamera i 1948, Model 95. Dette introducerede en ny æra, hvor brugerne kunne se deres billeder næsten øjeblikkeligt.</p>

        <Image src={farver} alt="" />

        <hr>

        <h2>Tiden for innovation og design</h2>

        <p>I 1970'erne og 1980'erne fortsatte Polaroid med at innovere, især med SX-70 kameraet, som kombinerede avanceret teknologi med et ikonisk design. Mærket blev et symbol på både stil og funktionalitet i fotoverdenen.</p>

        <Image src={motiver} alt="" />

        <hr>

        <h2>Udfordringer og konkurs</h2>

        <p>Mod slutningen af 1990'erne og starten af 2000'erne mødte Polaroid store udfordringer på grund af den voksende popularitet af digital fotografering. Dette førte til konkurs i 2001 og en periode med usikkerhed og ejerskabsændringer.</p>

        <Image src={strl} alt="" />

        <hr>
        <h2>Genfødsel i den digitale tidsalder</h2>

        <p>På trods af tidligere udfordringer, har Polaroid formået at genopfinde sig selv. Det har introduceret moderne versioner af sine klassiske instant kameraer samt nye digitale produkter, der appellerer til nutidens forbrugere.</p>

        <hr>
        <h2>Polaroid i dag</h2>

        <p>I dag er Polaroid et kulturelt ikon, der repræsenterer nostalgi, kunstnerisk udtryk og en vedvarende kærlighed til det fysiske fotografi, hvilket understreger mærkets evne til at tilpasse sig og bevare sin relevans i et skiftende teknologisk landskab.</p>


        <div class="grid grid-cols-2 gap-4">

			<Image src={layout1} alt="" />
            <Image src={layout2} alt="" />
            <Image src={layout3} alt="" />
            <Image src={layout4} alt="" />

        </div>
        <hr>

    </article>
</MainLayout>